/* General rules */
div {
  min-width: 10px;
  min-height: 10px;
  /* border: solid 1px black; */
  padding: 0px;
  margin: 0px;
  flex: 1;
}

img {
  max-width: inherit;
}

/* Major page divisions*/
#wholePageBounding {
  background-image: linear-gradient(rgba(255, 255, 255, 0), lightgrey);
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

#leftNav {
  max-width: 20vw;
  background-color: aquamarine;
}

#topNav {
  /* background-color: cadetblue; */
  height: 10vh;
}

/* Left Nav */

/* #leftNav li {
  list-style: none;
  padding: 0px;
  margin: 0px;
} */

#leftNav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navHeading {
  color: lightcoral;
}

/* topNav */
#topNav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
  height: inherit;
}

#topNav li {
  width: 15px;
  flex: 1;
  border-top: 0px;
  border: 2px solid;
  border-image-slice: 2;
  border-width: 1px;
  border-image-source: linear-gradient(rgba(255, 255, 255, 0), black);
  background-image: linear-gradient(rgba(177, 177, 177, 0), rgb(212, 233, 240));
}
